#app {
  display: flex;
  background: url(images/bg1.jpeg);
}
#app .music {
  background: rgba(255, 255, 255, 0.2);
  position: relative;
  width: 800px;
  height: 600px;
  border-radius: 10px;
  border: 1px solid gray;
  margin: 100px auto;
}
#app .music .head {
  position: relative;
  width: 800px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background: #5dc0e2;
  border-radius: 10px 10px 10px 10px;
}
#app .music .head p {
  color: white;
  font-weight: 200;
  line-height: 60px;
}
#app .music .head .seek {
  width: 300px;
  height: 30px;
  background: white;
  margin: 14px 16px 0 0 ;
}
#app .music .head em.seek_icon {
  position: absolute;
  right: 25px;
  top: 19px;
  width: 20px;
  height: 20px;
  background: url(images/seek.png);
  background-size: 20px;
}
#app .music .centre_kb {
  width: 800px;
  height: 480px;
  display: flex;
  justify-content: space-between;
}
#app .music .centre_kb ul.song_list {
  width: 200px;
  height: 480px;
  overflow-y: scroll;
}
#app .music .centre_kb ul.song_list li {
  background: url(images/bofang.png) no-repeat;
  position: relative;
  height: 30px;
  width: 200px;
  font-size: 16px;
  color: #f8f1f1;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  line-height: 30px;
}
#app .music .centre_kb ul.song_list li em.sp {
  position: absolute;
  right: 15px;
  width: 30px;
  height: 30px;
  background: url(images/shiping.png);
}
#app .music .centre_kb .turntable {
  width: 400px;
  height: 480px;
  position: relative;
}
#app .music .centre_kb .turntable .turntable1 {
  transition: all 0.2s linear;
  position: absolute;
  width: 140px;
  height: 155px;
  background: url(images/player_bar.png) no-repeat;
  top: 0;
  left: 45%;
  z-index: 10;
  transform-origin: 10px 10px;
  transform: rotate(-17deg);
}
#app .music .centre_kb .turntable .player_bar {
  transform: rotate(0deg);
}
#app .music .centre_kb .turntable .turntable2 {
  position: absolute;
  background: url(images/disc.png);
  width: 254px;
  height: 255px;
  top: 18%;
  left: 17%;
}
#app .music .centre_kb .turntable .turntable2 img {
  position: absolute;
  top: 23%;
  left: 23%;
  border-radius: 50%;
  width: 140px;
  height: 140px;
}
#app .music .centre_kb ul.leave {
  width: 200px;
  height: 480px;
  overflow-y: scroll;
}
#app .music .centre_kb ul.leave li {
  width: 200px;
  display: flex;
  padding: 5px;
}
#app .music .centre_kb ul.leave li .portrait {
  display: block;
  width: 30px;
  height: 30px;
  margin: 10px;
}
#app .music .centre_kb ul.leave li .portrait img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
#app .music .centre_kb ul.leave li .leave {
  width: 130px;
}
#app .music .centre_kb ul.leave li .leave p {
  width: 130px;
  font-size: 18px;
}
#app .music .centre_kb ul.leave li .leave div {
  width: 130px;
  font-size: 12px;
  color: white;
}
#app .music .play {
  width: 800px;
  height: 60px;
  background: pink;
}
#app .music .play .play_au {
  width: 800px;
}
.autorotate {
  animation-name: running;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes running {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
